.card {
position: absolute;
    filter: drop-shadow(0 0 0.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 202, 202);
    box-shadow:  35px -35px 70px #bababa7c,
}