.card {
position: absolute;
    filter: drop-shadow(0 0 0.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 202, 202);
    text-transform: uppercase !important;   

}

body {
    // background-color: darkslategrey;
    margin: 0px;
}

.pokemon{
    background: url("../Img/pokemon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 110%;
    margin-left: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.MuiAppBar-colorPrimary {
    color: #8f1818 !important;
    background-color: #fff  !important;
}