.card {
position: absolute;
    filter: drop-shadow(0 0 0.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 202, 202);
    text-transform: uppercase !important;   

}

body {
    background-color: darkslategrey;
}

.MuiAppBar-colorPrimary {
    color: #8f1818 !important;
    background-color: #fff  !important;
}